.card {
  width: 100%;
  max-width: 200px; /* Adjust max-width for smaller screens */
  height: 200px; /* Adjust height for smaller screens */
  perspective: 1000px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; /* Adjust font size for smaller screens */
  border: 1px solid #ccc;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flipped .front {
  transform: rotateY(180deg);
}

.flipped .back {
  transform: rotateY(0);
}

@media (min-width: 768px) {
  /* Adjust styles for larger screens if needed */
  .card {
    max-width: 300px;
    height: 300px;
  }

  .front,
  .back {
    font-size: 24px;
  }
}
