/* Header.css */

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width: 100vh;
}

.logo img {
  height: 50px; /* Adjust as needed */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman";
}

.menu {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  list-style: none;
  padding: 1;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
  margin: 1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.dropdown {
  display: none;
}

.dropdown button {
  display: block;
  margin-bottom: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    top: calc(100% + 10px);
    right: 0;
    background-color: #333;
    padding: 1rem;
  }
}
